
//
// VARIABLES
//

// Colors
$blue: #B2CCFF;

// Grays
$black: #D5D5D5;
$darkerGray: #EAEAEA;
$darkGray: #F6F6F6;
$gray: #666;
$lightGray: #eee;
$white: #8282AA;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
